extends layout

block content
    p Send me an email at <a href="mailto:matthew@mlowe.net">matthew@mlowe.net</a> to get in touch.

    <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="matthew-l-523090b0"><a class="LI-simple-link" href='https://uk.linkedin.com/in/matthew-l-523090b0?trk=profile-badge'>Matthew Lowe</a></div>