@import '../../node_modules/materialize-css/sass/materialize'

#site-title
    font-size: 24px

#project-title
    font-size: 22px

#project-subtitle
    font-size: 16px

i.right
    margin-left: 10px

#linked-in
    position: relative
    top: -8px
    left: 6px

    img
        width: 20px